# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# Streamlit cache
.streamlit/secrets.toml

# Scenarios - opcjonalnie odkomentuj jeśli NIE chcesz commitować scenariuszy
# scenarios/
