# Skopiuj ten plik jako .streamlit/secrets.toml i uzupełnij wartości
# NIE commituj pliku secrets.toml do repozytorium (jest już w .gitignore)

[github]
token  = "ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
owner  = "TWOJ_LOGIN_GITHUB"
repo   = "NAZWA_REPO"
branch = "main"
